body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #666666;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #666666;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #b6b6b6;
}

.section-title {
    font-family: Pacifico, cursive;
}


#sobre-o-restaurante,
#cardapio {
    background-color: #e9e9e9;
}

.text-colored {
    color: #666666;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #666666;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #666666;
}

.social-links li {
    list-style: none;
    display: inline;
}

/* .carousel-item img {
    height: 50vh;
} */


.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

